<header>
    <div class="icon"><i class="fa fa-lastfm"></i></div>
    <div class="time">{{ time }}</div>
</header>

<section>
    <div class="details">
        {{ track.artist }} - {{ track.album }}
    </div>
    <h1>{{ track.name }}</h1>
</section>

{{#if imagePath}}
    <img class="image-full" src="{{ imagePath }}" alt="Image">
{{/if}}
