<!-- original from berg -->

<div class="space">

<header>
    <div class="icon"><i class="fa fa-space-shuttle"></i></div>
    <div class="time">{{ time }}</div>
</header>

<section>
    <div class="details">There are</div>
    <h1>{{ number }}</h1>
    <div class="details">people in space right now</div>

    <hr>

    <ul class="people">
        {{#each people}}
        <li>
            <strong class="name">{{ name }}</strong>
            <span class="country">{{ country }}</span>

            <span class="title">{{ title }}</span>
            <time class="time">{{ time }} days</time>
        </li>
        {{/each}}
    </ul>
</section>

</div>
